location ~ \.php$ {
  try_files $uri /index.php =404;
  fastcgi_pass ${BACKEND_PHP}:9000;
  fastcgi_index index.php;
  fastcgi_split_path_info ^(.+\.php)(/.+)$;
  fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

  # 性能调优
  fastcgi_buffers 16 16k;
  fastcgi_buffer_size 32k;
  fastcgi_read_timeout 600;

  include fastcgi_params;

  # 传递真实 IP 给 PHP
  fastcgi_param REMOTE_ADDR $remote_addr;
  fastcgi_param HTTP_X_FORWARDED_FOR $proxy_add_x_forwarded_for;
}