<footer class="app-footer">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline"><b>版本</b> 1.0.0</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <strong>Copyright &copy; 2025 {{ thisUri }}</strong> 版权所有。
  <!--end::Copyright-->
</footer>