<div class="row">
  <div class="col-md-3">
    <div class="modal fade" id="modal-add" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">菜单配置</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="menuForm" action="/admin/navigate" method="POST" class="needs-validation" novalidate>
              <div class="input-group mb-3">
                <label for="name" class="input-group-text">菜单名称</label>
                <input id="name" name="name" type="text" class="form-control" placeholder="菜单名称" autocomplete="off">
              </div>
              <div class="input-group mb-3">
                <label for="icon" class="input-group-text">图标样式</label>
                <input id="icon" name="icon" type="text" class="form-control" placeholder="fa字体样式">
              </div>
              <div class="input-group">
                <label for="sortOrder" class="input-group-text">显示排序</label>
                <input id="sortOrder" name="sortOrder" type="number" class="form-control" placeholder="显示排序">
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            <button type="submit" form="menuForm" class="btn btn-primary">提交</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <div class="d-grid">
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-add">添加菜单</button>
    </div>
    {% for index, item in menus %}
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title"><i class="{{ item.icon }}"></i> {{ item.name }}</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="fas fa-plus"></i>
            <i data-lte-icon="collapse" class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool editMenu" data-id="{{ item.id }}" data-icon="{{ item.icon }}" data-name="{{ item.name }}"
                  data-sort="{{ item.sortOrder }}" data-bs-toggle="tooltip" title="修改"><i class="fas fa-edit"></i></button>
        </div>
      </div>
      {% if item.sublist %}
      <div class="card-body p-0">
        <ul class="nav nav-pills flex-column sublist">
          {% for nav in item.sublist %}
          <li class="nav-item" data-id="{{ nav.id }}">
            <a href="javascript:" class="nav-link pe-2">
              <i class="far fa-circle nav-icon"></i> {{ nav.name }}
              <span class="float-end">
                <button type="button" class="btn btn-tool up" data-bs-toggle="tooltip" data-bs-title="上移">
                   <i class="fas fa-angle-double-up"></i></button>
              <button type="button" class="btn btn-tool down" data-bs-toggle="tooltip" data-bs-title="下移">
                 <i class="fas fa-angle-double-down"></i></button>
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    {% endfor %}
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">权限管理</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="fas fa-plus"></i>
            <i data-lte-icon="collapse" class="fas fa-minus"></i>
          </button>
          <button id="action_sync" type="button" class="btn btn-tool" data-bs-toggle="tooltip" title="更新">
            <i class="fas fa-sync-alt"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>所属菜单</th>
            <th>名称</th>
            <th>路由</th>
          </tr>
          </thead>
          <tbody>
          {% for action in actions %}
          <tr>
            <td class="p-1">
              <select data-id="{{ action.id }}" class="form-select" style="width: 100%;">
                <option value=" ">请选择</option>
                {% for index, menu in menus %}
                <option {{ (index==action.navId) ?
                'selected' }} value="{{ index }}">{{ menu.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td>{{ action.name }}</td>
            <td>{{ action.route }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.form-select').select2({theme: "bootstrap-5"}).change(function (e) {
      if ($(this).val() != $(this).attr('default-value')) {
        $(this).attr('default-value', $(this).val());
        $.ajax({
          url: '/admin/router/' + $(this).attr('data-id'),
          type: 'POST',
          data: {'navId': $(this).val()},
          dataType: 'json',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-HTTP-Method-Override", 'PATCH');
          },
          success: function (data) {
            console.log(data);
            location.reload();
          },
          error: errorDialog
        });
      }
      console.log($(this).val(), $(this).attr('default-value'));
    });

    $('#menuForm').submit(function (e) {
      console.log(e.target.checkValidity());
      if (e.target.checkValidity()) {
        const fromData = new FormData(e.target);
        $.ajax({
          url: $(e.target).attr('action'),
          data: fromData,
          type: 'POST',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-HTTP-Method-Override", $(e.target).attr('method'));
          },
          cache: false,
          contentType: false,
          processData: false,
          dataType: 'json',
          success: function () {
            location.reload();
            $('#modal-addSetting').modal('hide');
          },
          error: errorDialog
        });
      }
    });

    $('.editMenu').click(function (e) {
      $('#menuForm').attr('action', '/admin/navigate/' + e.currentTarget.dataset.id);
      $('#menuForm').attr('method', 'PUT');
      $("#menuForm input[name='name']").val(e.currentTarget.dataset.name);
      $("#menuForm input[name='icon']").val(e.currentTarget.dataset.icon);
      $("#menuForm input[name='sortOrder']").val(e.currentTarget.dataset.sort);
      $('#modal-add').modal('show');
    });

    $('#modal-add').on('hidden.bs.modal', function () {
      $('#menuForm')[0].reset();
      $('#menuForm').attr('action', '/admin/navigate');
      $('#menuForm').attr('method', 'POST');
    });

    $(".sublist").on('click', 'button', function (event) {
      var parent = $(this).parents('.nav-item');
      var parents = $(this).parents(".sublist");
      var len = parents.children().length;

      if ($(this).is(".up") && parent.index() === 0) {
        Toast.fire({icon: 'error', title: '已经位于最顶端！'});
        return false;
      } else if ($(this).is(".down") && parent.index() === len - 1) {
        Toast.fire({icon: 'error', title: '已经位于最底端！'});
        return false;
      }
      if ($(this).is(".up")) {
        const prev = parent.prev();
        $.ajax({
          url: '/admin/router/' + parent.attr('data-id'),
          type: 'POST',
          data: {sortOrder: prev.index()},
          headers: {"X-HTTP-Method-Override": "PATCH"},
          dataType: 'json',
          success: function (data) {
            console.log(data);
          },
        });
        $.ajax({
          url: '/admin/router/' + prev.attr('data-id'),
          type: 'POST',
          data: {sortOrder: parent.index()},
          headers: {"X-HTTP-Method-Override": "PATCH"},
          dataType: 'json',
          success: function (data) {
            console.log(data);
          },
        });
        parent.insertBefore(prev);
      }
      if ($(this).is(".down")) {
        const next = parent.next();
        $.ajax({
          url: '/admin/router/' + parent.attr('data-id'),
          type: 'POST',
          data: {sortOrder: next.index()},
          headers: {"X-HTTP-Method-Override": "PATCH"},
          dataType: 'json',
          success: function (data) {
            console.log(data);
          },
        });
        $.ajax({
          url: '/admin/router/' + next.attr('data-id'),
          type: 'POST',
          data: {sortOrder: parent.index()},
          headers: {"X-HTTP-Method-Override": "PATCH"},
          dataType: 'json',
          success: function (data) {
            console.log(data);
          },
        });
        parent.insertAfter(next);
      }
    });

    $('#action_sync').click(function () {
      $.ajax({
        url: '/admin/syncActions',
        type: 'get',
        dataType: 'json',
        success: function (data) {
          console.log(data);
          location.reload();
        },
        error: errorDialog
      });
    });
  });
</script>
