<!doctype html>
<html lang="zh-CN">
<head><title>系统提醒</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" type="text/css" href="/css/weui.min.css"/>
</head>
<body>
<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="{{icon}} weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">{{title}}</h2>
    <p class="weui-msg__desc">{{ msg }}！</p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="javascript:closeWx();" class="weui-btn weui-btn_default">关闭页面</a>
    </p>
  </div>
  <div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__text">Copyright © 2022 {{$thisUri}}</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script type="text/javascript">
  var ua = window.navigator.userAgent.toLowerCase();
  if (ua.match(/MicroMessenger/i) == "micromessenger") {
    $.post('/getSignPackage', {url: location.href.split('#')[0]}, function (data) {
      wx.config({
        debug: false,
        appId: data.appId,
        timestamp: data.timestamp,
        nonceStr: data.nonceStr,
        signature: data.signature,
        jsApiList: []
      });
      wx.ready(function () {
        wx.hideOptionMenu();
      });
    });
  }

  function closeWx() {
    window.close();
    if (ua.match(/MicroMessenger/i) == "micromessenger") WeixinJSBridge.call('closeWindow');
  }
</script>
</body>
</html>
