[mysqld]

# --- GTID & Replication ---
gtid_mode = ON
enforce_gtid_consistency = ON

# 支持主从切换
log_replica_updates = ON

# --- Binary Log ---
log_bin = mysql-bin
binlog_format = ROW
sync_binlog = 1
binlog_expire_logs_seconds = 604800
# 建议限制单个 binlog 大小，方便传输和管理
max_binlog_size = 512M
