<div id="common-setting" class="card">
  <div class="card-header">
    <h3 class="card-title">自定义系统配置</h3>

    <div class="card-tools">
      <div class="btn-group">
        <button type="button" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#modal-addSetting">
          <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-title="添加配置">添加</i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-addSetting" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">系统配置 </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="setForm" action="{{basePath}}/admin/setting" method="POST" class="needs-validation" novalidate>
            <div class="form-group position-relative col-auto">
              <label for="name" class="form-label">配置名称</label>
              <input id="name" name="name" type="text" class="form-control" required placeholder="配置名称" autocomplete="off">
              <div class="invalid-feedback">请填写配置名称</div>
            </div>
            <div class="form-group">
              <label for="key" class="form-label">键</label>
              <input id="key" name="key" type="text" class="form-control" required autocomplete="off">
              <div class="invalid-feedback">请填写配置键名</div>
            </div>
            <div class="form-group">
              <label for="value" class="form-label">值
                <button id="upload_image" type="button" class="btn btn-tool"><i class="fa fa-file-upload"></i></button>
              </label>
              <textarea id="value" name="value" type="text" class="form-control" rows="5" required autocomplete="off"></textarea>
              <div class="invalid-feedback">请填写配置键值</div>
            </div>
            <div class="form-group">
              <label for="sortOrder" class="form-label">显示排序</label>
              <input id="sortOrder" name="sortOrder" type="text" class="form-control" required placeholder="排序" autocomplete="off">
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
          <button type="submit" form="setForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="settingData" class="table table-sm table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<script type="text/javascript">
  loadScript('/js/exif.js');
  loadScript('/js/spark-md5.min.js');
  loadScript('/js/upfile.js');
  loadScript('/js/page/common/setting.js', function () {
    $(document).ready(function () {
      settingDataTables = $('#settingData').DataTable({
        serverSide: false,
        aoColumnDefs: [
          {orderable: false, aTargets: [0, 2, 4]}// 制定列不参与排序
        ],
        ordering: true,//使用排序
        order: [[3, "asc"]],
        ajax: {
          url: basePath + "/admin/setting",
          type: 'GET',
          data: function (d) {
            return $.extend({}, d, {keyword: $("#keyword").val()});
          }
        },
        rowId: 'id',
        columns: [
          {title: '配置名称', data: "name"},
          {title: '键', data: "key"},
          {title: '值', data: "value"},
          {title: '排序', data: "sortOrder"},
          {
            title: '操作',
            data: "op",
            defaultContent: '<button type="button" class="btn btn-tool edit" data-bs-toggle="tooltip" data-bs-title="修改"><i class="fas fa-edit"></i></button>' +
              '<button type="button" class="btn btn-tool del" data-bs-toggle="tooltip" data-bs-title="删除"><i class="fas fa-trash-alt"></i></button>'
          }
        ]
      });
    });
  });
</script>

