<div class="card">
  <div class="card-header">
    <h3 class="card-title">系统管理员</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-bs-toggle="collapse" data-bs-target="#collapseAdmin">
        <i class="fas fa-user-plus" data-bs-toggle="tooltip" data-bs-title="添加管理员"></i>
      </button>
    </div>
  </div>
  <div class="collapse" id="collapseAdmin">
    <div class="card-body">
      <form id="adminForm" action="{{basePath}}/admin/admins" method="POST" class="needs-validation" novalidate>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col mb-3 position-relative">
            <div class="input-group">
              <label for="account" class="input-group-text">登录帐号</label>
              <input id="account" name="account" type="text" class="form-control" required placeholder="登录帐号" autocomplete="off"
                     pattern="^[A-Za-z\u4e00-\u9fa5][A-Za-z\d\u4e00-\u9fa5_.]{1,8}$">
              <div class="invalid-tooltip">账号必须以字母或中文开头，长度2-10位</div>
            </div>
          </div>
          <div class="col mb-3 position-relative">
            <div class="input-group">
              <label for="pwd" class="input-group-text">帐号密码</label>
              <input id="pwd" name="password" type="password" class="form-control" data-bs-toggle="tooltip" data-bs-title="添加账号时密码不能为空"
                     placeholder="帐号登录密码" autocomplete="off"
                     pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$">
              <label id="randomPwd" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="随机生成密码"><i
                  class="fa-solid fa-shuffle"></i></label>
              <div class="invalid-tooltip">密码必须包含至少一个大写字母，一个小写字母，一个数字和一个特殊字符!@#$%^&*，长度8-16位</div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="input-group">
              <label for="role_id" class="input-group-text">角色</label>
              <select id="role_id" name="role_id" class="form-select">
                {% for id, name in roles %}
                <option value="{{ id }}" {{ (role_id== id) ?
                ' selected':''}}>{{ name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col mb-3">
            <div class="input-group">
              <label for="group_id" class="input-group-text">分组</label>
              <select id="group_id" name="groupId" class="form-select">
                {% for id, name in group %}
                <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col mb-3">
            <div class="input-group">
              <label for="uid" class="input-group-text">绑定微信</label>
              <select id="uid" name="uid" class="form-select"></select>
            </div>
          </div>
          <div class="col mb-3">
            <div class="input-group">
              <label for="name" class="input-group-text">姓名</label>
              <input id="name" name="name" class="form-control" type="text" required pattern="[\u4e00-\u9fa5]{2,8}$">
              <div class="invalid-tooltip">姓名只能是中文名，最少两个字</div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="input-group">
              <label for="tel" class="input-group-text">手机号</label>
              <input id="tel" name="tel" class="form-control" type="tel" required
                     pattern="^(13[0-9]|14[579]|15[0-35-9]|16[6]|17[0-9]|18[0-9]|19[12589])\d{8}$">
              <div class="invalid-tooltip">手机号格式不正确</div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="input-group">
              <label for="status" class="input-group-text">状态</label>
              <select id="status" name="status" class="form-select">
                <option value="0">禁用</option>
                <option value="1">启用</option>
              </select>
            </div>
          </div>
          <div class="col mb-3">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="button" class="btn btn-secondary">取消</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-header">
    {% for id, name in roles %}
    <span data-id="{{ id }}" class="btn {{ (id == role_id) ? 'btn-success' : 'btn-secondary' }} btn-sm" data-bs-toggle="tooltip" data-bs-title="选择角色">{{ name }}</span>
    {% endfor %}
  </div>
  <div class="card-body">
    <table id="adminData" class="table table-sm table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<script type="text/javascript">
  $(document).ready(function () {
    var thGroup = '<ul class="navbar-nav">\n' +
      '        <li class="nav-item dropdown">\n' +
      '          <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">分组</span>\n' +
      '          <ul class="dropdown-menu">\n';
    $('#group_id option').each(function (index, item) {
      thGroup += '            <li><a class="dropdown-item" href="javascript:" data-value="' + item.value + '">' + item.text + '</a></li>\n'
    });
    thGroup += '          </ul>\n' +
      '        </li>\n' +
      '      </ul>';
    const datatables = $('#adminData').DataTable({
      ajax: {
        "url": basePath + "/admin/admins",
        "data": function (d) {
          d.role_id = $('.card-header span[data-id].btn-success').attr('data-id');
          if ($('#adminData thead .dropdown-item.active').length) d.groupId = $('#adminData thead .dropdown-item.active')[0].dataset.value;
        }
      },
      rowId: 'id',
      columns: [
        {title: '登录帐号', data: "account"},
        {
          title: '绑定微信',
          data: "user", render: function (data, type, row, meta) {
            if (row.weuser) {
              return '<img src="' + row.weuser.headimgurl + '" class="img-thumbnail" style="padding:0;" width="30">' + row.weuser.nickname;
            } else {
              return '';
            }
          }
        },
        {title: '联系人', data: "name", defaultContent: ''},
        {title: '手机号', data: "tel", defaultContent: ''},
        {
          title: thGroup, data: "groupId", render: function (data) {
            if (data) return $("#group_id option[value='" + data + "']").text();
            else return '';
          }
        },
        {
          title: '最后登录时间',
          data: "lastLoginTime", render: function (data, type, row, meta) {
            if (data) return new Date(parseInt(data) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
            else return '尚未登录';
          }
        },
        {title: '最后登录IP', data: "lastLoginIp", defaultContent: ''},
        {
          title: '状态',
          data: "status", render: function (data, type, row, meta) {
            if (data) {
              return '<span class="text-green">启用</span>';
            } else {
              return '<span class="text-red">禁用</span>';
            }
          }
        },
        {
          title: '操作',
          data: "op",
          defaultContent: '<button type="button" class="btn btn-tool edit" data-bs-toggle="tooltip" data-bs-title="修改"><i class="fas fa-edit"></i></button>' +
            '<button type="button" class="btn btn-tool del"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" data-bs-title="删除"></i></button>'
        }
      ]
    });
    $('.select2').select2();
    $("#adminForm select[name='uid']").select2({
      theme: "bootstrap-5",
      ajax: {
        url: basePath + "/admin/weixin/users/search",
        dataType: 'json',
        delay: 500,
        data: function (params) {
          return {
            q: params.term,
            page: params.page || 1
          };
        },
        processResults: function (data, params) {
          console.log(data);
          params.page = params.page || 1;
          return {
            results: data.users,
            pagination: {
              more: (params.page * 10) < data.total
            }
          };
        },
        cache: true
      },
      language: "zh-CN",
      placeholder: '搜索选择绑定用户',
      minimumInputLength: 1,
      templateResult: function (user) {
        //console.log(user);
        if (user.loading) return user.text;
        return $(
          '<div class="info-box">\n' +
          '  <span class="info-box-icon bg-info"><img src="' + user.headimgurl + '"></span>' +
          '  <div class="info-box-content">' +
          '    <span class="info-box-text">' + user.nickname + '</span>' +
          '    <span class="info-box-number">' + user.name + '(' + user.tel + ')</span>' +
          '  </div>' +
          '</div>'
        );
      },
      templateSelection: function (user) {
        //console.log(user);
        if (user.name) {
          $("#adminForm input[name='name']").val(user.name);
          $("#adminForm input[name='tel']").val(user.tel);
        }
        return user.nickname || user.text;
      }
    });
    $('.card-header span[data-id]').on('click', function (e) {
      if ($(this).hasClass('btn-secondary')) {
        $('.card-header span[data-id].btn-success').removeClass('btn-success').addClass('btn-secondary');
        $(this).removeClass('btn-secondary').addClass('btn-success');
        $("#adminForm select[name='role_id']").val($(this).attr('data-id')).trigger("change");
        datatables.ajax.reload();
      }
    });
    $('#adminData thead').on('click', '.dropdown-item', function (e) {
      $(e.currentTarget).parents('ul.dropdown-menu').find('a.active').removeClass('active');
      $(e.currentTarget).addClass('active');
      datatables.ajax.reload();
    });
    $('#randomPwd').click(function () {
      const regex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$/;
      let password = "";
      do {
        password = generateRandomString(Math.floor(Math.random() * 9) + 8);
      } while (!regex.test(password)); // 检查密码是否满足要求
      // 返回生成的密码
      $("#adminForm input[name='password']").attr('type', 'text').val(password);
    });

    $('#adminData tbody').on('click', 'button', function () {
      const data = datatables.row($(this).parents('tr')).data();
      if ($(this).hasClass('edit')) {
        if (!$('#collapseAdmin').hasClass('show')) $('#collapseAdmin').collapse('show');
        $('#adminForm').attr('action', basePath + '/admin/admins/' + data.id);
        $('#adminForm').attr('method', 'PUT');
        $("#adminForm input[name='account']").val(data.account);
        $("#adminForm select[name='role_id']").val(data.role_id).trigger("change");
        $("#adminForm select[name='groupId']").val(data.groupId).trigger("change");
        $("#adminForm select[name='status']").val(data.status);
        $("#adminForm input[name='name']").val(data.name);
        $("#adminForm input[name='tel']").val(data.tel);
        if (data.uid > 0) {
          $("#adminForm select[name='uid']").append(new Option(data.weuser.nickname, data.uid, true, true)).trigger('change');
        }
      }
      if ($(this).hasClass('del')) {
        const delRow = $(this).parents('tr');
        dialog('删除管理员', '是否确认删除管理员', function () {
          $.ajax({
            url: basePath + '/admin/admins/' + data.id,
            type: 'POST',
            headers: {"X-HTTP-Method-Override": "DELETE"},
            dataType: 'json',
            success: function (data) {
              datatables.row(delRow).remove().draw(false);
              Swal.fire({icon: 'success', title: '删除成功！', showConfirmButton: false, timer: 1500});
            },
            error: errorDialog
          });
        });
      }
    });

    $('#adminForm .btn-secondary').click(function () {
      $('#collapseAdmin').collapse('hide');
    });

    $('#adminForm').submit(function (e) {
      if (e.target.checkValidity()) {
        const fromData = new FormData(e.target);
        $.ajax({
          url: $(e.target).attr('action'),
          data: fromData,
          type: 'POST',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-HTTP-Method-Override", $(e.target).attr('method'));
          },
          cache: false,
          contentType: false,
          processData: false,
          dataType: 'json',
          success: function (json) {
            let data;
            if ($(e.target).attr('method') === 'PUT') {
              const id = $(e.target).attr('action').split('/').pop();
              data = datatables.row($("tr[id='" + id + "']")).data();
              data['account'] = fromData.get('account');
              data['status'] = fromData.get('status');
              datatables.row($("tr[id='" + id + "']")).data(data).draw(false);
            } else {
              data = {
                id: json.id,
                account: fromData.get('account')
              };
              datatables.row.add(data).draw(false);
            }
            $('#collapseAdmin').collapse('hide');
          },
          error: errorDialog
        });
      }
    });

    $('#collapseAdmin').on('hidden.bs.collapse', function () {
      $('#adminForm')[0].reset();
      $("#adminForm select[name='uid'] option").remove();
      $('#adminForm').removeClass('was-validated');
      $('#adminForm').attr('action', basePath + '/admin/admins');
      $('#adminForm').attr('method', 'POST');
    });
  });
</script>
