<div id="admin-adminInfo">
  <div class="modal-body">
    <div id="bindQr" class="row text-center" style="display: none">
      {{ bindQr | raw }}
    </div>
    <div id="unBindQr" class="row text-center" style="display: none">
      <div class="alert alert-warning mb-0">使用当前绑定微信扫码</div>
      {{ unBindQr | raw }}
    </div>
    <form id="editPassword" method="post" class="was-validated">
      <div class="input-group has-validation">
        <input name="password" type="password" placeholder="修改账号密码" class="form-control" required
               pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$" autocomplete="off">
        <div class="input-group-text"
             onclick="$(this).prev().attr('type',$(this).prev().attr('type')=='text'?'password':'text')">
          <span class="fas fa-eye" role="button"></span>
        </div>
        <div class="invalid-feedback">
          密码必须包含至少一个大写字母，一个小写字母，一个数字和一个特殊字符!@#$%^&*，长度8-16位
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button type="button" id="resetPasswd" class="btn btn-danger">帮我设置</button>
      <button type="submit" class="btn btn-primary" form="editPassword">修改密码</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  if (currentUser.uid > 0) {
    $('#admin-adminInfo .modal-body').prepend('<div class="info-box">\n' +
      '        <span class="info-box-icon">\n' +
      '          <img src="' + (currentUser.head ? currentUser.head : '/images/no-image.png') + '" class="rounded-circle shadow-sm" alt="' + currentUser.nickname + '">\n' +
      '        </span>\n' +
      '    <div class="info-box-content">\n' +
      '      <span class="info-box-text">' + currentUser.nickname + '(' + currentUser.name + ')</span>\n' +
      '      <div class="info-box-text"><div class="btn-group btn-group-sm">\n' +
      '        <button class="btn btn-primary" data-type="bind">重新绑定</button>\n' +
      '        <button class="btn btn-danger" data-type="unBbind">解除绑定</button>\n' +
      '      </div></div> \n' +
      '    </div>\n' +
      '  </div>');
  } else {
    $('#admin-adminInfo .modal-body').prepend('<button class="btn btn-sm btn-link" data-type="bind">绑定微信</button>');
  }
  loadScript("/js/page/admin/admininfo.js");
</script>
