<div id="adminInfo" class="form-horizontal">
  <div id="bindQr" class="row text-center" style="display: none">
    <style>
      #adminInfo svg {
        max-width: 100%;
        height: auto;
      }
    </style>
    {{ bindQr | raw }}
  </div>
  <form id="editPassword" method="post" class="was-validated">
    <div class="input-group has-validation">
      <input name="password" type="password" placeholder="修改账号密码" class="form-control" required
             pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$" autocomplete="off">
      <div class="input-group-text" onclick="$(this).prev().attr('type',$(this).prev().attr('type')=='text'?'password':'text')">
        <span class="fas fa-eye"></span>
      </div>
      <div class="invalid-feedback">密码必须包含至少一个大写字母，一个小写字母，一个数字和一个特殊字符!@#$%^&*，长度8-16位</div>
    </div>
  </form>
</div>
</div><!-- end modal-body -->
<div class="modal-footer">
  <div class="btn-group">
    <button type="button" id="resetPasswd" class="btn btn-danger">帮我设置</button>
    <button type="submit" class="btn btn-primary" form="editPassword">修改密码</button>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      let userInfo='';
      if(currentUser.head){
        userInfo='<div class="info-box">\n' +
          '        <span class="info-box-icon">\n' +
          '          <img src="'+currentUser.head+'" class="rounded-circle shadow-sm" alt="'+currentUser.nickname+'">\n' +
          '        </span>\n' +
          '    <div class="info-box-content">\n' +
          '      <span class="info-box-text">'+currentUser.nickname+'('+currentUser.name+')</span>\n' +
          '      <a href="javascript:" class="info-box-text d-block">重新绑定</a>\n' +
          '    </div>\n' +
          '  </div>';
      }else{
        userInfo='<a href="javascript:" class="info-box-text d-block">绑定微信</a>';
      }
      $('#adminInfo').prepend(userInfo);
      $('#editPassword').submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        if (e.target.checkValidity()) {
          Swal.fire({
            title: "是否确定已记住密码？",
            text: "确定修改密码后系统将自动退出。",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: '确定',
            cancelButtonText: '没记住'
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: '/admin/editPassword',
                data: new FormData(e.target),
                type: 'POST',
                dataType: 'json',
                success: function (json) {
                  location.href = '/loginOut';
                },
                error: errorDialog
              });
            }
          });
        } else {
          Toast.fire({
            icon: 'error',
            title: '账号或密码格式不正确'
          });
        }
      });

      $('#resetPasswd').click(function () {
        var regex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$/;
        var password = "";
        do {
          password = generateRandomString(Math.floor(Math.random() * 9) + 8);
        } while (!regex.test(password)); // 检查密码是否满足要求
        // 返回生成的密码
        $("#adminInfo input[name='password']").attr('type', 'text').val(password);
      });

      let timer;
      let checkNum = 0;
      $('#adminInfo .d-block').click(function () {
        $('#adminInfo .info-box').remove();
        $('#bindQr').show();
        timer = setInterval(function () {
          checkNum++;
          $.post('/admin/userBind', function (data) {
            if (data.res === 'OK') {
              clearInterval(timer);
              location.reload();
            }
          }, 'json');
          if (checkNum > 100) {
            clearInterval(timer);
            $('#bindQr').html('二维码已过期！');
          }
        }, 2000);
      });
      $('#adminInfo').parents('.modal').on('hidden.bs.modal', function () {
        checkNum = 0;
        if (timer) clearInterval(timer);
      });
    });
  </script>
