<div id="admin-roleList" class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#modal-addRole">
        <i class="fas fa-users-cog" data-bs-toggle="tooltip" data-bs-title="添加角色">添加</i>
      </button>
    </div>
  </div>
  <div class="modal fade" id="modal-addRole" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">配置角色权限</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="roleForm" action="{{basePath}}/admin/roles" method="POST" class="needs-validation" novalidate>
            <div class="form-group pb-2">
              <label for="name" class="form-label">角色名称</label>
              <input id="name" name="name" type="text" class="form-control" required placeholder="角色名称" autocomplete="off">
              <div class="invalid-feedback">请填写角色名称</div>
            </div>
            <div class="row row-cols-2">
              <div class="col">
                <div class="form-group">
                  <label for="route" class="form-label text-success fw-bold">已授权的操作</label>
                  <select id="route" class="form-select" size="15">
                    {% for route in routes %}
                    <option value="{{ route.id }}">{{ route.name }}({{ route.route}})</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="restricted" class="form-label text-danger fw-bold">未授权的操作</label>
                  <select id="restricted" class="form-select" size="15">
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
          <button type="submit" form="roleForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="rolesData" class="table table-sm table-bordered"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<script type="text/javascript">
  loadScript('/js/page/admin/rolelist.js')
  var actions = JSON.parse('{{ actions | raw }}');
  $(document).ready(function () {
    roleDataTables = $('#admin-roleList #rolesData').DataTable({
      serverSide: false,
      search: {return: false},
      ajax: basePath + "/admin/roles",
      rowId: 'id',
      columns: [
        {title: '角色', data: "name"},
        {
          title: '禁用操作', data: "restricted", render: function (data) {
            const restricted = [];
            for (const id of data) restricted.push(actions[id]);
            return restricted.join('、');
          }
        },
        {
          title: '操作',
          data: "op",
          defaultContent: '<button type="button" class="btn btn-tool edit" data-bs-toggle="tooltip" data-bs-title="修改"><i class="fas fa-edit"></i></button>' +
            '<button type="button" class="btn btn-tool del" data-bs-toggle="tooltip" data-bs-title="删除"><i class="fas fa-trash-alt"></i></button>'
        }
      ]
    });
  });
</script>
