[mysqld]
sql-mode="ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

# 基础
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone = '+08:00'

# 连接
max_connections = 200
wait_timeout = 600

# InnoDB
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 1

# 日志
general_log = 0

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1

log_error = /var/log/mysql/error.log

# 安全
skip-name-resolve

